*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Google Sans,Noto Sans,Noto Sans JP,Noto Sans KR,Noto Naskh Arabic,Noto Sans Thai,Noto Sans Hebrew,Noto Sans Bengali,sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: sticky;
  top: 0px;
  background-color: #fff;
}

.nav-header {
  width: 160px;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  margin-left: 30px;
  font-size: 14px;
}

.nav-links li a{
  text-decoration: none;
  color: rgb(119,123,141);
}

.btn1 {
  border: none;
  font-size: 14px;
  background-color: #fff;
  padding: 10px;
}
.btn1:hover {
  background-color: #f5f6f7;
  border-radius: 20px;
}

.p1 {
  background-color: #1a73e8;
  padding: 25px;
  color: #fff;
  font-size: 16px;
}

.p2 {
  background-color: #e8f0fe;
  color: #414abb;
  padding: 25px;
  font-size: 14px;
}

.p2 a {
  color: #414abb;
}

/* Section One */
.section1 {
  display: flex;
  align-items: center;
  padding: 40px 40px 40px 20px;
  margin: 30px;
}

.section1-img  img {    
  max-width: 540px;
  padding-right: 30px;
}

.section1-text {
  padding-right: 80px;
  padding-left: 10px;
}

.section1 h1 {
  font-size: 64px;
  font-weight: 700;
}

.section1 p {
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
}

/* Section Two */
.section2 {
  display: flex;
  justify-content: center;
  padding: 20px  30px;
  background-color: rgb(245,246,247);
}

.section2-text {
  padding: 30px;
}

.section2-text h2 {
  color: rgb(32,33,36);
  font-size: 30px;
}

.section2-text p {
  font-size: 16px;
  color: rgb(32,33,36);
  line-height: 25px;
}
.section2-text a{
  text-decoration: none;
  color: #202124;
}

.section2-text a:hover {
  text-decoration: underline;
}

.section2 .section2-img img{
  width: 320px;
  border-radius: 40px;
  padding: 20px;
}

.button1 {
  padding: 30px 120px;
}

.btn2 {
  color: rgb(26, 115, 232);
  border: 2px solid rgb(26, 115, 232);
  border-radius: 40px;
  padding: 10px 50px;
  margin: 0 10px;
  font-size: 18px;
}

.btn2:hover {
  background-color: rgb(26, 115, 232);
  color: #fff;
  border: none;
  border-radius: 40px;
  padding: 10px 50px;
  margin: 0 10px;
  font-size: 18px;
}
          /* Section Three */
.section3 {
  display: flex;
  padding: 50px;
  justify-content: center;
  text-decoration: none;
  padding-right: 20px;
}

.section3 .card1 {
  background-color: #f5f6f7;
  padding: 50px;
  margin-right: 30px;
  border-radius: 30px;
}

.section3 .card1 img {
  width: 300px;
  padding: 30px;
  border-radius: 40px;
}

.section3 .card1 h3 a {
  font-size: 30px;
  text-decoration: none;
  color: rgb(32,33,36);
}

.section3 .card1 h3:hover {
  text-decoration: 2px black underline;
}

.card1 p {
  font-size: 16px;
  line-height: 25px;
  color: rgb(32,36,56);
}

.card1 p a {
  text-decoration: none;
  color: rgb(32,36,56);
}

.card1 p a:hover {
  text-decoration: underline;
  color: rgb(32,36,56);
}

.btn3 {
  color: rgb(26, 115, 232);
  border: 2px solid rgb(26, 115, 232);
  border-radius: 40px;
  padding: 10px 40px;
  margin: 40px;
  font-size: 18px;
  background-color: #fff;
}

.btn3:hover {
  background-color: #f5f6f7;
  color: rgb(26, 115, 232);
  border: none;
  padding: 10px 40px;
  margin: 40px;
  font-size: 18px;
}

/* Section Four */
.section4 {
  background-color: #f5f6f7;
  padding: 20px;
}

.sec4-text {
  padding: 20px 40px;
  line-height: 25px;
}

.p3 {
  font-size: 20px;
  color: rgb(32,36,56);
}

.p4 {
  font-size: 16px;
  color: rgb(32,36,56);
}

.sec4-cards {
  display: flex;
  padding: 50px;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  padding-right: 20px;
}

.sec4-cards .card2 {
  background-color: rgb(255,255,255);
  padding: 60px 50px;
  margin-right: 30px;
  border-radius: 30px;
  width: 40%;
}

i {
  color: #0288d1;
  border-radius: 50%;
  background-color: #f5f6f7;
}

i:hover {
  background-color: #f5f6f7;
}

.card2 h3 {
  font-size: 20px;
  text-align: center;
  padding: 30px;
  color: #185abc;
  font-weight: 300;
}

.sec4-cards .card2 h3 a {
  text-align: center;
  text-decoration: none;
  color: #185abc;
}

.sec4-cards .card2 h3 a:hover {
  text-decoration: underline 2px #185abc;
}

.card2 p {
  font-size: 15px;
  font-weight: 200;
  color: rgb(32,36,56);
  line-height: 25px;
}


.btn4 {
  color: rgb(26, 115, 232);
  border: 2px solid rgb(26, 115, 232);
  border-radius: 40px;
  padding: 10px 40px;
  margin: 40px;
  font-size: 18px;
  background-color: #fff;
}

.btn4:hover {
  background-color: #fff;
  color: rgb(26, 115, 232);
  border: none;
  padding: 10px 40px;
  margin: 40px;
  font-size: 18px;
}

/* Section Five */

.sec5-text {
  padding: 20px 70px 40px 50px;
  
}

.p5 {
  font-size: 20px;
  color: rgb(32,36,56);
}

.p6 {
  font-size: 16px;
  color: rgb(32,36,56);
}

.sec5-cards {
  display: flex;
  padding: 50px;
  justify-content: center;
  text-decoration: none;
  padding-right: 20px;
}

.sec5-cards .card3 {
  background-color: #f5f6f7;
  padding: 50px;
  margin-right: 30px;
  border-radius: 30px;
}

.sec5-cards .card3 img {
  width: 300px;
  padding: 30px;
  border-radius: 40px;
}

.card3 h3{
  text-align: center;
}

.sec5-cards .card3 h3 a {
  font-size: 30px;
  text-decoration: none;
  color: rgb(32,33,36);
}

.sec5-cards .card3 h3:hover {
  text-decoration: 2px black underline;
}

.card3 p {
  text-align: center;
  line-height: 25px;
  font-size: 15px;
  color: rgb(32,36,56);
}

.card3 p a {
  text-decoration: none;
  color: rgb(32,36,56);
}

.card3 p a:hover {
  text-decoration: underline;
  color: rgb(32,36,56);
}

.card3 h5 {
  padding: 20px 0;
}

.btn5 {
  color: rgb(26, 115, 232);
  border: 2px solid rgb(26, 115, 232);
  border-radius: 40px;
  padding: 10px 40px;
  margin: 40px;
  font-size: 18px;
  background-color: #fff;
}

.btn5:hover {
  background-color: #f5f6f7;
  color: rgb(26, 115, 232);
  border: none;
  padding: 10px 40px;
  margin: 40px;
  font-size: 18px;
}

/* Section 6 */
.section6 {
  display: flex;
  justify-content: center;
  padding: 20px  30px;
  background-color: rgb(245,246,247);
}

.section6-text {
  padding: 30px;
}

.section6-text h2 {
  color: rgb(32,33,36);
  font-size: 30px;
}

.section6-text p {
  font-size: 16px;
  color: rgb(32,33,36);
}
.section6-text a{
  text-decoration: none;
  color: #202124;
}

.section6-text a:hover {
  text-decoration: underline;
}

.section6 .section6-img img{
  width: 320px;
  border-radius: 40px;
  padding: 20px;
  padding-top: 40px;
}


.btn6 {
  color: rgb(26, 115, 232);
  border: 2px solid rgb(26, 115, 232);
  border-radius: 40px;
  padding: 10px 40px;
  margin-top: 40px;
  margin-left: 360px;
  font-size: 18px;
}

.btn6:hover {
  background-color: rgb(26, 115, 232);
  color: #fff;
  border: none;
  border-radius: 40px;
}

/* Section 7-12 */
.categories {
  display: flex;
  justify-content: space-between;
  padding: 60px 40px 40px 60px;

}

.cat-a {
  padding-right: 20px;
  width: 100%;
}

.cat-a h3 {
  font-size: 32px;
}


.cat-a p a {
  font-size: 20px;
  color: rgb(26, 115, 232);
  text-decoration: none;
}

.cat-a p a:hover {
  text-decoration: underline;
}

.cat-a p {
  font-size: 20px;
}

.cat-btn {
  color: rgb(26, 115, 232);
  border: 2px solid rgb(26, 115, 232);
  border-radius: 40px;
  padding: 10px 40px;
  margin: 20px;
  font-size: 18px;
  background-color: #fff;
}

.cat-btn:hover {
  background-color: #fff;
  color: rgb(26, 115, 232);
  border: none;
}

.cat-btn a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: rgb(26, 115, 232);
}

.cat-b {
  width: 100%;
  padding-left: 30px;
}


.cat-b h3 {
  font-size: 20px;
  line-height: 35px;
}

.cat-b p {
  font-size: 16px;
  line-height: 25px;
}

.cat-b h3 a {
  text-decoration: none;
  color: rgb(26, 115, 232);
  font-weight: 400;
  font-size: 20px;
}

.cat-b h3 a:hover {
  text-decoration: underline;
}

/* Section 13 */
.section13 {
  background-color: #f5f6f7;
  padding: 80px 360px;
}

.name {
  display: flex;
  gap: 10px;
}


.section13 h2 {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.section13 .p13 {
  font-size: 20px;
}

input[type="text"], input[type="email"], select {
  width: 100%;
  height: 35px;
  padding: 5px;
}

.name input[type="first name"], input[type="last name"], select {
  width: 100%;
  height: 35px;
  padding: 5px;
}

.sec13-btn {
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  background-color: #fff;
  color: rgb(26, 115, 232);
  padding: 10px 20px;
}

.sec13-btn:hover {
  background-color: #bbd6f1;
}